mixin map ()

    +b('section')(id="map").map
        +e.info Для корректного пользования перевените экран вашего смартфона!
        +e('iframe')(src="https://keaz.ru/contacts/dealers/frame" frameborder="0" width="100%").maps