.map
    width 100%
    height 600px

    &__maps
        width 100%
        height 100%
        padding 0
        margin 0

    &__info
        display none
        +below(375px)
            display contents
            padding 10px
            color $c-orangemain
