$Play = 'Play', sans-serif

$c-white = #fff
$c-white_2 = #eef1f2
$c-grey = #adadad
$c-black = #000
$c-bluekeaz = #04488E
$c-bluemain = #182D4C
$c-blue = #002E6D
$c-orange = #FF7306
$c-orangemain = #FF5000
$c-orange_1 = #FFE2D5