.modern-solutions
    margin-top 236px
    background url('../../images/header-background.jpg') no-repeat center
    width 100%
    +below(1200px)
        margin-top 180px
    +below(968px)
        margin-top 150px

    &__title
        font-family 'Play'
        font-style normal
        font-weight 700
        font-size 90px
        line-height 110%
        text-align center
        padding 96px 0 110px
        color $c-blue
        +below(968px)
            font-size 32px
            padding 92px 0 86px
        +below(420px)
            padding 61px 0 76px

        span
           color: $c-orangemain 