mixin crash-tests ()

    +b('section')(id="crash-tests").crash-tests
        +e.container
            +e('p').title Краш-тесты оборудования 4,5 кА
            +e.content
                +e.item
                    +e.card
                        +e.preview
                            +e.preview__img
                                img(src='./images/crash-tests-img.jpg')
                        +e.description
                            +e.info
                                +e('p').description__title Стойкость к износу
                                +e('p').text Мы как никто другой, знаем, насколько важно обеспечить безопасность и комфорт ваших близких, и создаем такие условия с помощью оборудования КЭАЗ.
                                +e('p').text Мы объявляем о начале НОВОЙ ЭРЫ в развитии российского модульного оборудования и представляем серию устройств с предельной отключающей способностью 4,5 кА.
                            +e.actions
                                +e('button').arrow._prev
                                +e('button').arrow._next
                +e.item
                    +e.card
                        +e.preview
                            +e.preview__img
                                img(src='./images/crash-tests-img.jpg')
                        +e.description
                            +e.info
                                +e('p').description__title Стойкость к износу
                                +e('p').text Мы как никто другой, знаем, насколько важно обеспечить безопасность и комфорт ваших близких, и создаем такие условия с помощью оборудования КЭАЗ.
                                +e('p').text Мы объявляем о начале НОВОЙ ЭРЫ в развитии российского модульного оборудования и представляем серию устройств с предельной отключающей способностью 4,5 кА.
                            +e.actions
                                +e('button').arrow._prev
                                +e('button').arrow._next